<div>
  <br>
  <div class="container">
    <div class="container">
      <form [formGroup]="eventAddFormGroup">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="color: black;">
              <h3>Dodaj event</h3>
            </mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <mat-list-item style="margin-top: 25px;">
                    <mat-form-field class="example-form">
                      <input matInput placeholder="Tytuł" [formControl]="titleFormControl"
                             [(ngModel)]="event.title">
                      <mat-error *ngIf="titleFormControl.hasError('required')">
                        To pole jest <strong>wymagane</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-form" style="margin-left: 50px;">
                      <input matInput placeholder="Opis" [formControl]="descriptionFormControl"
                             [(ngModel)]="event.description">
                      <mat-error *ngIf="descriptionFormControl.hasError('required')">
                        To pole jest <strong>wymagane</strong>
                      </mat-error>
                    </mat-form-field>
                  </mat-list-item>
                </mat-list-item>
              </mat-list>
              <button button="submit" type="button" mat-raised-button (click)="redirectTabs()"
                      style="margin-top: 30px;">
                <mat-icon>arrow_back</mat-icon>
                Anuluj
              </button>
              <button button="submit" mat-raised-button type="submit"
                      (click)="createEventAction()"
                      style="margin-left: 200px; margin-top: 30px;">
                <mat-icon>save</mat-icon>
                Dodaj
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </form>
    </div>
  </div>
</div>
