<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12 col-sm-12 col-md-12">
  <a class="navbar-brand col-12 col-sm-3 col-md-3" href="/">Mapovent</a>
  <ul class="nav justify-content-end col-12 col-sm-9 col-md-9">
    <li class="nav-item">
      <button type="button" class="btn btn-light" style="margin-right: 10px">Logowanie</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" style="margin-right: 10px">Rejestracja</button>
    </li>
  </ul>
</nav>
