<nav class="navbar navbar-expand-lg navbar-light bg-light col-12 col-sm-12 col-md-12" style="margin: 0">
  <ul class="nav col-12 col-sm-12 col-md-12">
    <li class="nav-item">
      <a class="nav-link" href="#">Warszawa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kraków</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Wrocław</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Poznań</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trójmiasto</a>
    </li>
  </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light col-12 col-sm-12 col-md-12" style="margin: 0">
  <ul class="nav col-12 col-sm-6 col-md-6" style="margin: 0">
    <li class="nav-item">
      <a class="nav-link" href="#">Bieganie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rower</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rolki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rzucanie pniem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Piwkowanie</a>
    </li>
  </ul>

  <ul class="nav justify-content-end col-12 col-sm-6 col-md-6" style="margin: 0">
    <li class="nav-item" style="margin-right: 10px">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Wybierz datę">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </li>
    <li class="nav-item">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Wybierz datę">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </li>
  </ul>
</nav>

<div style="margin: 0">
  <p>
    event-list works!
  </p>
</div>
